// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #search_input{
//   height: 20px;
//   width: 200px;
//   outline: none;
// }

.box30 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    width: 100%;
}
.box30 .box-title {
    font-size: 1.2em;
    background: #FF0000;
    padding: 4px;
    text-align: center;
    color: #FF0;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
}


.edit_page_label{
  margin-top: 50px;
  text-align: center
}

.customer_edit_image{
  margin-top: 30px;
  text-align: center
}

.edit_label_name{
  margin-top: 20px;
}

.edit_label_kana{
  margin-top: 20px;
}

.edit_label_email{
  margin-top: 20px;
}

.edit_email_field{
  margin-bottom: 20px;
}

.customer_edit_page{
  margin-bottom: 200px;
}