<div class = "container">
  <div class="row mt-5">
    <div class="mx-auto">
      <h1 class = "text-align-center">
        本当に退会しますか？
      </h1>
      <p class = "text-align-center">
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <%= link_to '退会しない', customers_my_dictionary_path, class: "btn btn-primary" %>
      <%= link_to '退会する', customers_withdraw_path, method: :PATCH,"data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
    </div>
  </div>
</div>