<div class = "container">
  <div class = "row">
    <div class = "col-md-8">
    <h1 class = "text-center" style = "margin-top: 50px;">
      作成意図
    </h1>
    <h5 class = "text-center" style = "margin-top:10px;">
      初めまして,このサイトの製作者です！</br>
      このサイトは祖母をきっかけに作成しました！</br>
      祖母は最近ルンルンでスマホに携帯を買い換えたのですがルンルン気分とは裏腹に</br>
      やはり操作が難しいようで１週間に１度は私に</br>
      「これどうやってやるの？」「これは何？」と聞いてきます！笑</br>
      「スマホは絶対難しいよ」って伝えたんですけどねぇ…笑</br>
      そんな祖母に使い方を丁寧に説明はするのですが日が経つにつれ覚える…</br>
      と思いきや「それ前教えたでしょ！笑」という質問がどんどん湧いてくるのです！笑</br>
      そんな時に「こういう日常で得た知識をメモリーとして保存できるサイトがあればいいな〜、あれこれって</br>
      学生とか色んな人が使えるサイトできるんじゃない？」と思い製作に至りました！</br>
      どの世代の方でも日常のあらゆる場面で出てくる疑問。</br>
      そこで得た知識をぜひ書き記して『あなただけの辞書』を作ってみてください！</br>
      p.s. 祖母にこのサイトの使い方を教えるのはあと数年かかりそうです…笑
    </h5>
    </div>
    <div class = "col-md-4">
      <div class = "about_image">
        <%= image_tag 'karate_boy.jpg' %>
      </div>
    </div>
  </div>
</div>