<div class = "container">
  <div class = "row">
    <div class = "col-md-9">
      <div style = "margin-bottom:50px">
        <h2 class="text-left ">
          ようこそ</br>
          <p class = "mt-1">MyDictionaryへ！</br></p>
        </h2>
        <h5>
        <p class = "mt-1">このサイトはあなただけの辞書を作っていくメモリー型サイトです。</br></p>
        <p class = "mt-1">日常の数多のシーンで訪れる大小様々な知識を書き記していき</br></p>
        <p class = "mt-1">あなただけの『世界に一つしかない辞書』を作ってみませんか？</br></p>
        </h5>
      </div>
    </div>
  </div>
</div>