<div class = "container_genre_edit">
  <h2 class="p-3 mb-2 ml-3 bg-secondary text-white" style = "width: 600px;">
    ジャンル名編集
  </h2>
    <%= form_with model:@genre,url:admin_genre_path, method: :patch, local:true do |f| %>
        <div class = "admin_genre_label">
          <%= f.label :ジャンル名 %>
        </div>
        <div class = "admin_genre_form">
          <%= f.text_field :name  , placeholder: "変更後のジャンル名" %>
        </div>
        <div class = "admin_genre_btn">
          <%= f.submit "変更を保存", class: "btn btn-success ml-2" %>
        </div>
    <% end %>
</div>