<div class = "container">
  <h2 class="p-3 mb-2 bg-secondary text-white">
    ジャンル編集
  </h2>
  <div class = "row">
    <table class = "table table-hover table-inverse">
      <tr>
        <%= form_with model:@genre,url:admin_genre_path, method: :patch, local:true do |f| %>
          <td><%= f.label :ジャンル名 %></td>
          <td><%= f.text_field :name  , placeholder: "変更後のジャンル名" %></td>
          <td><%= f.submit "変更を保存", class: "btn btn-success ml-2" %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>