/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .bg_my_dictionary {
  background-image: image-url("mypage_books.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}
 .show-search-form{
  margin: 10px;
 }

 .image_top{
   margin-top : 20px;
   width: 100%;
   height: 500px;
   object-fit: cover;
 }

.about_image{
  margin :100px;
}
 .row{
  padding-bottom: 250px;
 }

 .registrations_new{
  margin-bottom: 200px;
 }

 .sessions_new{
  margin-bottom: 300px;
 }
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import "jquery-ui/autocomplete";
  @import "jquery-ui/theme";
  @import "jquery-ui/menu";
